{% extends 'base.html.twig' %}

{% block body %}



    <h1>Psychomot edit</h1>



    {{ form_start(form) }}


    <!--Début Psychomotricité-->

    <div id="Psychomotricité">
        <div class="accordion1">

            <ul>
                <li>

                    <div>
                        <a href="#Psychomotricité">
                            <!-- <img src="http://www.designchemical.com/lab/jquery/demo/images/section_1.png"></img>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->


                        <div>

                            <h2 class="psyco_titre1"> {{ psychomot.titleDef }}</h2>
                            {{ form_widget(form.titleDef, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.titleDef) }}
                            <input type="submit" value="Edit" />


                            <p class="psyco_texte1"> {{ psychomot.txtDef }} </p>
                            {{ form_widget(form.txtDef, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.txtDef) }}
                            <input type="submit" value="Edit" />



                        </div>

                        <div>
                            <!-- <img class="psyco_img1" src="./img/SAM_2242-500_375.JPG"> -->

                            <!-- <img class="psyco_img1" src="{{asset('bundles/psychomot/img/1_questcequecest_500-575.jpg')}}"> -->
                        </div>

                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#Psychomotricité">
                            <div>
                                <h2>{{ psychomot.titleWho }}</h2>
                                {{ form_widget(form.titleWho, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.titleWho) }}
                                <input type="submit" value="Edit" />

                                <!--<img class="psyco_img1" src="{{asset('bundles/psychomot/img/1_Pour_qui.jpg')}}"> -->

                                <p>{{ psychomot.txtWho }}</p>
                                {{ form_widget(form.txtWho, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.txtWho) }}
                                <input type="submit" value="Edit" />
                            </div>
                        </a>

                    </div>
                </li>
                <li>
                    <div>
                        <a href="#Psychomotricité">
                            <div>
                                <h2>{{ psychomot.titleWhy }}</h2>
                                {{ form_widget(form.titleWhy, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.titleWhy) }}
                                <input type="submit" value="Edit" />
                                <!--<img class="psyco_img1" src="{{asset('bundles/psychomot/img/1_Pourquoi.jpg')}}">-->
                                <p>{{ psychomot.txtWhy }}</p>
                                {{ form_widget(form.txtWhy, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.txtWhy) }}
                                <input type="submit" value="Edit" />
                            </div>
                        </a>
                    </div>
                </li>

            </ul>
        </div>

    </div>


    <!--Fin Psychomotricité-->

    <input type="submit" value="Edit" />
    {{ form_end(form) }}



{% endblock %}
