{% extends 'base.html.twig' %}

{% block body %}
    <h1>Psychomot list</h1>

        <tbody>
        {% for psychomot in psychomots %}

            <!--Début Intervention-->
            <div class="row" id="consultation">
                <div class="accordion col-xs-12">
                    <ul>
                        <li>
                            <div>
                                <a>
                                    <div class="row">
                                        <div class="accordion col-xs-4">
                                            <h2>{{ psychomot.titleConsult }}</h2>
                                            <p>{{ psychomot.txtConsult }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a>
                                    <div class="row">
                                        <div class="accordion col-xs-4">
                                            <h2>{{ psychomot.titleInterv }}</h2>
                                            <p>{{ psychomot.txtInterv }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div>
                                <a>
                                    <div class="row">
                                        <div class="accordion col-xs-4">
                                            <h2>{{ psychomot.titleBilan }}</h2>>
                                            <p>{{ psychomot.txtBilan }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <!--FIN INTERVENTIONS-->


        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('psychomot_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
